.Input {
  position: relative;

  display: flex;
}

.Input__field {
  width: 100%;
  min-width: 0;
  padding: 9px 10px;

  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: var(--color-background-dark);
}

.Input__field_right {
  text-align: right;
}

.Input__field:focus {
  border-color: var(--color-active);
}

.Input__label {
  position: absolute;
  top: 11px;
  right: 10px;

  font-size: 14px;

  pointer-events: none;

  color: var(--color-text-dark);
}

.Input__label_right {
  left: 10px;
  right: auto;
}