.PricesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 1100px;
  margin: 120px auto;
  padding: 20px;

  gap: 30px;
}

.PricesContainer__item {
  min-width: 200px;
}
