.CoinPriceWidget {
  display: flex;
}

.CoinPriceWidget__coinInfo {
  position: relative;

  width: 192px;
  margin-right: 10px;
  padding-right: 10px;

  border-right: 2px solid var(--color-background-dark);
}

.CoinPriceWidget__depositCalculator {
  width: 406px;
}
