.CoinPriceWidget {
  display: flex;
}

.CoinPriceWidget__coinInfo {
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 2px solid var(--color-background-dark);
}

.CoinPriceWidget__depositCalculator {
  width: 306px;
}