.CoinPriceWidget {
  font-weight: 500;

  padding: 20px;

  border-radius: 20px;
  background-color: var(--color-background-light);
}

.CoinPriceWidget__header {
  display: block;

  margin-bottom: 10px;
}

.CoinPriceWidget__coin {
  font-size: 24px;
  font-weight: 500;

  margin: 0;
  margin-bottom: 4px;

  text-transform: uppercase;
}

.CoinPriceWidget__coin_stable {
  font-size: 14px;

  color: var(--color-text-dark);
}
.CoinPriceWidget__coin_stable::before {
  content: " / ";
}

.CoinPriceWidget__price {
  display: flex;
  align-items: baseline;

  gap: 10px;

  margin-left: auto;

  transition: color 0.3s ease-in-out;

  color: var(--color-text-dark);
}

.CoinPriceWidget__price_danger {
  color: var(--color-text-danger);
}

.CoinPriceWidget__price_warn {
  color: var(--color-text-warn);
}

.CoinPriceWidget__priceRange {
  display: flex;
  flex-direction: column;

  gap: 6px;
}

.CoinPriceWidget__percents {
  font-size: 14px;

  text-align: center;

  color: var(--color-text-dark);
}
