.CoinInfo {
  font-weight: 500;
}

.CoinInfo__header {
  margin-bottom: 4px;
}

.CoinInfo__currencyPair {
  font-size: 24px;

  text-transform: uppercase;
}

.CoinInfo__secondaryCurrency {
  font-size: 14px;

  color: var(--color-text-dark);
}

.CoinInfo__secondaryCurrency::before {
  content: " / ";
}

.CoinInfo__priceInfo {
  margin-bottom: 10px;
}

.CoinInfo__priceRange {
  display: flex;
  flex-direction: column;

  gap: 6px;
}
